@use "sass:map";
@use "../global";

@mixin letter-box-size($length) {
  width: $length;
  height: $length;
  // $spacer refers to 1rem in Bootstrap variables
  margin-bottom: calc(map-get(global.$spacers, 2) - .5%); 
  margin-right: calc(map-get(global.$spacers, 2) - .5%);
}

.letter-text- {
  &1 {
    font-size: 2rem;
  }
  &2 {
    font-size: calc(1rem + 0.5vw);
  }
}

@include global.media-breakpoint-up(xs) {

  /* AllGuesses.js -> Letter */
  .letter-box- {
    &1 {
      @include letter-box-size(calc(2.5rem + 5vw));
    }
  
    &2 {
      @include letter-box-size(calc(0.1rem + 5vw));
    }
  }
}

@include global.media-breakpoint-up(global.$breakpoint) {
  /* AllGuesses.js -> Letter */
  .letter-box- {
    &1 {
      @include letter-box-size(4.0rem);
    }
  
    &2 {
      @include letter-box-size(calc(0.1rem + 3.5vw));
    }
  }
}