/* 
  COMBINED CSS FOR ALL REACT COMPONENTS
*/
@use "sass:map";
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Breakpoint for small screens
$breakpoint: lg;

@mixin letter-box-size($length) {
  width: $length;
  height: $length;
  // $spacer refers to 1rem in Bootstrap variables
  margin-bottom: calc(map-get($spacers, 2) - .5%); 
  margin-right: calc(map-get($spacers, 2) - .5%);
}

.letter-text- {
  &1 {
    font-size: 2rem;
  }
  &2 {
    font-size: calc(1rem + 0.5vw);
  }
}

@include media-breakpoint-up(xs) {

  /* AllGuesses.js -> Letter */
  .letter-box- {
    &1 {
      @include letter-box-size(calc(2.5rem + 5vw));
    }
  
    &2 {
      @include letter-box-size(calc(0.1rem + 5vw));
    }
  }

  /* Keyboard.js */
  .letter-key {
    width: 1.6rem;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
  }

  .enter-key {
    width: 3rem;
  }
  
  .backspace-key {
    width: 3rem;
  }

  /* Board.js */
  .board {
    height: calc(90vh - 41.6px * 3 - map-get($spacers, 3) * (3 + 1) - $spacer);
    
    // root - key margins - key padding - line height - font size
    // height: calc(100vh - $spacer * 3 - map-get($spacers, 2) * 2 * 6 - $font-size-base * $line-height-base * 2 - $font-size-base) !important;
  }
}

@include media-breakpoint-up($breakpoint) {
  /* AllGuesses.js -> Letter */
  .letter-box- {
    &1 {
      @include letter-box-size(4.0rem);
    }
  
    &2 {
      @include letter-box-size(calc(0.1rem + 3.5vw));
    }
  }

  /* Controls.js */
  .control-text {
    font-size: calc(0.5rem + 1vw);
  }

  /* Board.js */
  .board {
    height: calc(94vh - 41.6px * 3 - map-get($spacers, 3) * (3 + 1) - $spacer);
    
    // root - key margins - key padding - line height - font size
    // height: calc(100vh - $spacer * 3 - map-get($spacers, 2) * 2 * 6 - $font-size-base * $line-height-base * 2 - $font-size-base) !important;
  }
}

/* Offcanvas.js */
#offcanvas-close>svg {
  color: white !important;
  transition: color 0.2s ease-in-out ;
}

// Change color of close button on hover
#offcanvas-close>svg:hover {
  color: $secondary !important;
}
