// @import "../node_modules/bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace +str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/**
 * Takes a color variable and encodes it into string format. Replaces "#" with "%23"
 * 
 */
@function encode-color($string) {
  @if type-of($string)=='color' {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");
  }

  $string: '%23' + $string;
  @return $string;
}

/* VARIABLES */

// Menu icon default color
$toggle-menu-icon-color: $primary;
// Menu icon color on button hover
$toggle-menu-icon-hover-color: $light;
// Controls toggle button color
$toggle-button-border: $primary;

// Mixin to change the color of the menu icon
@mixin menu-icon($icon-color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{encode-color($icon-color)}' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") !important;
}

html {
  background-color: $dark;
}

// Small-screen Controls toggle button
.navbar-toggler {
  color: $primary  !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 $btn-focus-width rgba(mix($toggle-menu-icon-color, $toggle-button-border, 15%), .5);
}

// Small-screen Controls toggle button menu icon
.navbar-toggler-icon {
  @include menu-icon($toggle-menu-icon-color);
}

.navbar-toggler:hover>.navbar-toggler-icon {
  @include menu-icon($toggle-menu-icon-hover-color);
}
// transform .3s ease-in-out